This is nav bar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <!--  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button> -->
          <a class="navbar-brand" href="#">4me (logo)</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://blackrockdigital.github.io/startbootstrap-modern-business/about.html">About</a>
        </li>
        <li class="dropdown">
          <a href="https://blackrockdigital.github.io/startbootstrap-modern-business/#" class="dropdown-toggle" data-toggle="dropdown">Menu<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="https://blackrockdigital.github.io/startbootstrap-modern-business/full-width.html">Sign Up</a>
          	</li>
          	<li>
              <a href="https://blackrockdigital.github.io/startbootstrap-modern-business/sidebar.html">Login</a>
          	</li>
          	<li>
              <a href="https://blackrockdigital.github.io/startbootstrap-modern-business/faq.html">Contact Us</a>
          	</li>
          </ul>
        </li>
      </ul>
    </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- This is slide header -->
<div class="container">
  <div class="col-md-12">
    <div class="carousel slide" id="myCarousel">
      <div class="carousel-inner">
        <div class="item active">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
          <a href="#"><img src="http://lorempixel.com/400/200/sports" class="img-responsive">1</a></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
          <a href="#"><img src="http://lorempixel.com/400/200/" class="img-responsive">2</a></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
          <a href="#"><img src="http://lorempixel.com/400/200/sports" class="img-responsive">3</a></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
          <a href="#"><img src="http://lorempixel.com/400/200/" class="img-responsive">4</a></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
          <a href="#"><img src="http://lorempixel.com/400/200/sports" class="img-responsive">5</a></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
          <a href="#"><img src="http://lorempixel.com/400/200/" class="img-responsive">6</a></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
          <a href="#"><img src="http://lorempixel.com/400/200/sports" class="img-responsive">7</a></div>
        </div>
        <div class="item">
          <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">
          <a href="#"><img src="http://lorempixel.com/400/200/" class="img-responsive">8</a></div>
        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>

    </div>
  </div>
</div>
<!-- This is 4 boxes container