<h1></h1>
<nav>
	logo
	toggle bar menu
</nav>

<div class = "header">
	slogan: help the world discover something new
</div>

<div class = "popular">
	carousel of popular website
</div>

<div class = "content-boxes">
	boxes
</div>