<h2>Email: <%= @user.email %></h2>
<h2>Username: <%= @user.lastname %></h2>

<%= link_to "Edit", edit_user_path(@user) %>

<table>
	<div class="col-md-12">
		<tr>
			<th></th>
			<th></th>
			<th></th> 
			<th></th>
			<th></th>
			<th></th>

		</tr>
	</div>
</table>